ion-content {
  --background: var(--ion-color-light);
}

.profile-section {
  background: var(--ion-background-color);
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 1rem;
    position: relative;
    background: var(--ion-color-light);
    overflow: hidden;
    border: 3px solid white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    img {
      width: 100%;
      height: 100%;
      padding: 16px;
      object-fit: cover;
      color: var(--ion-text-color)
    }
    
    .camera-icon {
      position: absolute;
      bottom: 0;
      right: 0;
      background: var(--ion-color-primary);
      color: white;
      border-radius: 50%;
      padding: 8px;
      font-size: 1.2rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
  
  h2 {
    margin: 0.5rem 0 0;
    font-weight: 500;
    color: var(--ion-text-color)
  }
}

ion-list {
  ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 56px;
    
    ion-icon[slot="start"] {
      margin-right: 16px;
      color: var(--ion-color-medium);
    }
    
    ion-icon[slot="end"] {
      color: var(--ion-color-medium);
    }
  }
}

ion-toggle {
  --background: var(--ion-color-light);
  --background-checked: var(--ion-color-primary);
  --handle-background: white;
  --handle-background-checked: white;
}

ion-item[button] {
  --ripple-color: var(--ion-color-primary);
}

dark-mode {
  ion-content {
    --background: var(--ion-color-dark);
  }
  
  .profile-section {
    background: var(--ion-color-dark-tint);
  }
  
  ion-list {
    background: var(--ion-color-dark);
    
    ion-item {
      --background: var(--ion-color-dark-tint);
      --color: var(--ion-color-light);
      
      ion-icon {
        color: var(--ion-color-light);
      }
    }
  }
}