<ion-content>
  <div class="login-wrapper">
    <div class="login-container">
      <div class="login-icon">
        <ion-icon name="camera-outline"></ion-icon>
      </div>

      <!-- Username Input -->
      <ion-item class="input-item">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input placeholder="Username" [(ngModel)]="username" name="username" required>
        </ion-input>
      </ion-item>

      <!-- Password Input -->
      <ion-item class="input-item">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        </ion-input>
      </ion-item>

      <!-- Remember Me / Forgot Password -->
      <div class="options">
        <div class="remember">
          <ion-checkbox [(ngModel)]="rememberMe" name="rememberMe"></ion-checkbox>
          <label>Remember me</label>
        </div>
        <a href="#" class="forgot">Forgot Password?</a>
      </div>

      <!-- Login Button -->
      <ion-button expand="block" class="login-btn" (click)="login()">
        Login
      </ion-button>
    </div>
  </div>
</ion-content>