:host {
  --background: rgba(0, 0, 0, 0.8);
  
  .modal-content {
    background: var(--ion-background-color);
    border-radius: 16px;
    padding: 20px;
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 auto;
    margin-top: 10vh;
    overflow: hidden;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: var(--ion-color-medium);
    z-index: 10;
    background: var(--ion-background-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    
    .profile-image {
      max-width: 100%;
      max-height: 70vh;
      border-radius: 8px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }
  }
}
